.cardheightProducts{
    height: 300px;
    margin-bottom: 3px;
}
.imagecardproducts{
    width: 100px;
    height: 200px;
}
.heightofcard{
   height: 500px; 
}
.imageheighthome{
    height: 250px;
    border-radius: 10px;
}