.formfieldYoutubeSearch {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;

    width: 600px;
    background: #f1f1f1;
  }
  
  .Youtube-searchButton{

    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  .Youtube-searchIcon:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  