.login {
    background-color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-sign{
    width: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.login-container{
    padding-top: 20px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 20px;
}
.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }

  .login_register {
    border-radius: 2px blue;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
  }
  .login__container > p {
    margin-top: 15px;
    font-size: 12px;
}
